ABOUT-NLS
COPYING
INSTALL
README
AUTHORS
NEWS
Makefile.in
Makefile
aclocal.m4
autom4te.cache
configure
config.cache
config.h
config.log
config.rpath
config.status
compile
depcomp
description-pak
install-sh
missing
po/stamp-it
src/gamesxml2c
.*.swp
*.o
*.a
intl
intltool-extract.in
intltool-merge.in
intltool-update.in
intltool-extract
intltool-merge
intltool-update
intltool-modules
libtool
m4
mkinstalldirs
xqf.spec
xqf.desktop
xqf
